html {
    box-sizing: border-box;
}

#top {
    border-top: 4px solid rgba(0, 0, 0, 0.1);
    margin-left: -2em;
    margin-right: -2em;
}

#top nav {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
    margin-left: 2em;
    margin-right: 2em;
}

#top nav ul {
    margin: 0;
    padding: 0;
}

#top nav ul li {
    display: inline;
}

#top nav a {
    border-top: 4px solid transparent;
    display: inline-block;
    padding: 1em;
    padding-bottom: 0.5em;
    margin-top: -4px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
}

#top nav a:hover {
    border-top: 4px solid greenyellow;
}

.width-wrap {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    margin-bottom: 3em;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #283735;
    color: #A46E5F;
}

.width-wrap no-border {
    border-top: none;
}

hr {
    border: none;
    width: 50vw;
    min-width: 300px;
    max-width: 890px;
    margin-top: 3em;
    margin-bottom: 2em;
    border-bottom: 3px dotted greenyellow;
}

dt:after {
    content: ":";
}

body {
    background-color: #44828a;
    font-family: Lustria;
    line-height: 1.3em;
}

a {
    color: #5D9A8F
}

header a {
    color: #44828a;
}

::selection {
    background-color: black;
}

table th {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 1em;
    padding-right: 1em;
}

table td {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 1em;
    padding-right: 1em;
    background-color: rgba(0, 0, 0, 0.05);
}

table thead {
    background-color: rgba(0, 0, 0, 0.2);
}

table tbody th {
    background-color: rgba(0, 0, 0, 0.2);
}

table tfoot {
    background-color: rgba(0, 0, 0, 0.2);
}

table tbody tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.15);
}

label {
    display: block;
}

fieldset ul li label {
    display: inline;
}

#send_button {
    border: none;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 3em;
    padding-right: 3em;
    background-color: bisque;
    color: firebrick;
}

input:user-invalid {
    background-color: red;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Tienne;
}

h1 {
    background-clip: text;
    background: rgb(18, 53, 36);
    background: linear-gradient(90deg, rgba(18, 53, 36, 1) 35%, rgba(0, 108, 255, 1) 100%);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ol {
    list-style-type: upper-roman;

}

#swampletics {
    border-top-right-radius: 2em;
    border-bottom-left-radius: 2em;
}

#radio_buttons_list {
    list-style-type: none;
    padding: 0;
}

.bio {
    column-count: 3;
    column-gap: 2em;
}

#course-table {
    column-span: all;
    margin-top: 1em;
    border-collapse: collapse;
    caption-side: bottom;
}

img {
    max-width: 100%;
}

#picture-of-me {
    padding: 2%;
    background-color: white;
    box-shadow: #A46E5F 0px 0px 10px;
}

footer {
    font-size: 75%;
    text-align: center;
}

#back-to-top {
    text-shadow: #A46E5F 0px 0px 10px;
    text-decoration: none;
}